@page
@model FrontEnd.Pages.Transactions.IndexModel

@{
	ViewData["Title"] = "All Transactions";
}

<h1>All Transactions</h1>
@{
	var color = "green";
}


<p>
	<a asp-page="/Index">Home</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Transaction[0].Amount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Transaction[0].Expense.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Transaction[0].Expense.IsShared)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Transaction[0].Date)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Transaction)
		{
			if (item.PersonId.ToString() == User.Claims.FirstOrDefault(x=>x.Type == "PersonId").Value)
			{
				<tr style="color:green">
					<td>
						@Html.DisplayFor(modelItem => item.Amount)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Expense.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Expense.IsShared)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						@if (Model.IsAdmin)
						{
							<a asp-page="/Admin/Edit" asp-route-id="@item.Id">Edit</a> @:|
						}
						<a asp-page="./Details" asp-route-id="@item.Id">Details</a>
					</td>
				</tr>
			}
			else
			{
				<tr style="color:red">
					<td>
						@Html.DisplayFor(modelItem => item.Amount)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Expense.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Expense.IsShared)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						@if (Model.IsAdmin)
						{
							<a asp-page="/Admin/Edit" asp-route-id="@item.Id">Edit</a> @:|
						}
						<a asp-page="./Details" asp-route-id="@item.Id">Details</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
